

.recipeAuthorBlock {
    display: flex;
    justify-content: space-evenly;
    }
    
    .imageUpdates {
       object-fit: contain;
    }
    

.top {
      background-color: #7fa2e9;
      min-height: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(5px + 2vmin);
      color: white;
    }
    